<div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand text-success logo h1 align-self-center" href="../../index.html">
        <img src="../../assets/img/NuestroIcono.webp" alt="AuctionX" style="width: 100px; height: auto;">
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
        <div class="flex-fill">
            <ul id="navMenu" class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../contact.html">Contact</a>
                </li>
            </ul>
        </div>
        <div class="navbar align-self-center d-flex">
            <button id="authIcon" class="nav-icon position-relative text-decoration-none" style="border-radius: 40%; background: none; border: none;"></button>
        </div>
    </div>
</div>